body {
    font-family: Roboto;
    padding: 0;
    font-size: 14px;
    background-color: #ecf0f1;
}

html, body, main {
    height: 100%;
}

.loader,
.loader:before,
.loader:after {
    background: #c2c2c2;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: #c2c2c2;
    text-indent: -9999em;
    direction: ltr;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    transform: translateZ(0);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
label {
  cursor: pointer;
}

.flex-container {
    display: flex;
    margin: 0 5px;
    height: 100%;
}

.flex-section {
    min-width: 33%;
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}

::-webkit-scrollbar { 
    display: none; 
}

.dash-panel {
    overflow: scroll;
    height: 48%;
    background-color: white;
    padding: 0 10px;
    border: 1px solid #c2c2c2;
    margin: 10px 5px;
    position: relative;
}
.dash-panel-time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.stash-list-item {
    margin: 0 -10px;
}

.stash-list-item-green, 
.stash-list-item-red,
.stash-list-item-yellow {
    border-left: 4px solid #e7040f;
}
.stash-list-item-green {
    border-left: 4px solid #137752;
}
.stash-list-item-yellow {
    border-left: 4px solid #fbf1a9;
}
.stash-list-reviewer-green {
    color: #137752;
    display: none;
}

.left-side-navigation {
    float: left;
}
.left-side-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.left-side-navigation-link {
    display: table-cell;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
    color: #95a5a6;
}
.router-link-active {
    color: black;
}

.refresh-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: aliceblue;
    z-index: 2;
}
.refresh-button-updating > span {
    display: inline-block;
    animation: spin 1s infinite ease-in-out;
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}